[2019-12-31 22:11] weierophinney opened #55 "Navigation ACL / accept doesn't work if an asserter is provided"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7614
User: @ceadreak
Created On: 2015-08-12T16:57:55Z
Updated At: 2015-11-06T22:14:04Z
Body
I have an issue in an application to hide

[2019-12-31 22:35] weierophinney opened #1 "[WIP] Broaden HTTPS Check"
Because:
- It is common for end users to use ports other than 443 for HTTPS
- Mature systems, like IBM i, like to uppercase values

Provide a narrative description of what you are trying to accomplish:

- [x] Are you fixing a bug?
  - [x] Detail how the bug is invoked currently.
    If you try building an API with HTTPS without using 443, the self links that are built and returned will be HTTP. If

[2019-12-31 22:35] weierophinney commented on #1
Forgot to mention that this will resolve #194.

---

Originally posted by @jbh at https://github.com/zendframework/zend-view/pull/201#issuecomment-553980600

[2019-12-31 22:35] weierophinney commented on #1
All checks failed? Ouch.

---

Originally posted by @jbh at https://github.com/zendframework/zend-view/pull/201#issuecomment-553982342

[2019-12-31 22:35] weierophinney commented on #1
@jbh

"common" – I do not think so; and if it were so, then something more must be change in the class and in some other components too. (e.g. zend-uri, zend-diactoros)

Sounds conclusive.
We need unit tests to cover these changes. Thanks in advance!

Right, see the results on Travis: https://travis-ci.org/zendframework/zend-view/jobs/611967352#L439-L447

---

Originally posted by @froschdesign at

[2019-12-31 22:35] weierophinney commented on #1
@froschdesign I work with many enterprise agencies, and they have plenty of internal, and even some external applications that they use HTTPS on different ports for. They would be pretty offended to hear that isn't common... This is a deal breaker for them when they try to use Apigility.

I'm trying to find a decent way to handle the tests. Thanks for the input, and pointing me to the proper error

[2019-12-31 22:35] weierophinney commented on #1
@froschdesign and @jbh —

The way we handle it in Diactoros (per the PSR-7 specification) is to omit the port when it corresponds to the default port for the scheme used. So, for HTTP, you omit `:80`, and for HTTPS, you omit `:443`.

The IETF says that you _can_ use the port in all cases, but suggests that it _should_ be omitted when it is the default, which is why we went that route for Diactoros

[2019-12-31 22:35] weierophinney opened #2 "Url View-helper: better exception wording on router->assemble() fail"
This PR will change 2 things:
1. Add a comment to the HelperPluginManager that the "url" and "basePath" View-Helper factories are overwritten in the `ViewHelperManagerFactory` of zend-mvc.

2. Change the exception text of the "url" View-helper if the router cant assemble the URL to include more information:

Before:
[code]

After:
[code]

Advantages:
* full route name clearly visible
* full parame

[2019-12-31 22:35] weierophinney commented on #2
@MatthiasKuehneEllerhold Thanks for your contribution.
We need unit tests to cover these changes. Thanks !

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-view/pull/200#issuecomment-553784614

[2019-12-31 22:35] weierophinney commented on #2
The zend-router only throws the `Zend\Mvc\Router` exceptions if its 2.x. Thats only tested in the `DEPS=lowest` setting on travis, see here: https://travis-ci.org/zendframework/zend-view/jobs/611765820?utm_medium=notification&utm_source=github_status

Cant seem to replicate it locally though. But i dont have 7.1 set up anymore.

So the `Zend\Mvc\Router` exceptions will be tested at `DEPS=lowest` w

[2019-12-31 22:35] weierophinney opened #3 "[BUG] - HTTPS Self Links Broken for Ports Other than 443"
When using HTTPS with a port other than 443, the `self` links returned remain HTTP.

Please see: https://github.com/zendframework/zend-view/blob/master/src/Helper/ServerUrl.php#L149

There are plenty of use cases where people will use ports other than 443 for their HTTPS needs. I believe this needs to be refactored to be less strict.

I'm happy to make the PR contribution, but I wanted to submit t

[2019-12-31 22:35] weierophinney commented on #3
:+1: for a PR for this!

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-view/issues/194#issuecomment-537574100

[2019-12-31 22:35] weierophinney commented on #3
Great. I'll work on doing that within the next two days. I have some other tasks in queue.

---

Originally posted by @jbh at https://github.com/zendframework/zend-view/issues/194#issuecomment-537575866

[2019-12-31 22:35] weierophinney opened #4 "Adds application integration for stand-alone usage to the documentation"
Related to https://github.com/zendframework/documentation/issues/8

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/pull/190

[2019-12-31 22:35] weierophinney commented on #4
@weierophinney
The idea based on various support questions and was first test during the [rework of zend-i18n documentation](https://froschdesign.github.io/zend-documentation-showcase/application-integration/stand-alone/).

The preview of zend-i18n goes one step further and contains one more example: "[Usage in a Slim Application](https://froschdesign.github.io/zend-documentation-showcase/applicat

[2019-12-31 22:35] weierophinney commented on #4
An example which illustrates the usage with a layout script should be added.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/pull/190#issuecomment-552607848

[2019-12-31 22:35] weierophinney opened #5 "Using Zend-view with PHP STAN"
Currently i am using the zend view in my project and i notice a very small problem with the docblock of the \Zend\View\Model\ViewModel class constructor.
Where it says @param  null|array|Traversable $variables should be @param  null|array|Traversable|ArrayAccess $variables

In the same constructor if no $variables is provided the constructor initializes it with one instance of arrayAccess.

---

O

[2019-12-31 22:35] weierophinney commented on #5
Yes, you are right, cause method setVariables, which is called, also define ArrayAccess in DocBlock

---

Originally posted by @dennybrandes at https://github.com/zendframework/zend-view/issues/183#issuecomment-521268380

[2019-12-31 22:35] weierophinney opened #6 "Inline CSS always commented by HeadStyle ViewHelper"
It looks like the inline style definition is not correctly printed by HeadStyle view helper.

Considering the following one:

[code]

The whole block will be commented out.

I tried disabling auto escaper but escaping is hardcoded into HeadStyle implementation.

Actually, after a deep look in the code, I don't get why CSS content is always commented via ``````:

[[0]](#0)
[code]

$escapeStart and

[2019-12-31 22:35] weierophinney commented on #6
@tworzenieweb

The comments are used for backward compatibility in old browsers and are ignored by CSS.

But today these comments are obsolete and can be removed without problems.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/165#issuecomment-414302051

[2019-12-31 22:35] weierophinney opened #7 "Fix Placeholder view helper return value"
This PR aims to fix the bug, outlined in the following issue: https://github.com/zendframework/zend-view/issues/16

The changes will allow `$this` as a return value of the view helper, when no name is passed as an argument, thus providing access to the methods inside the view helper. For this reason, more tests have been added to `ZendTest\View\Helper\PlaceholderTest`.

---

Originally posted by @

[2019-12-31 22:35] weierophinney commented on #7
What could we do about the failing Travis build?
If we use `zend-mvc ^2.7` it's failing on PHP 7.2 with `DEPS=lowest`.
If we use `zend-mvc ^2.7.13` it's failing on lower PHP versions, because of the minimum stability.

Should I revert the changes, made to the `composer.json`?

**EDIT:**
I have reverted my changes. Now the `composer.json` is the same it was in the beginning. I saw that other PRs ar

[2019-12-31 22:35] weierophinney opened #8 "Zend\View\Helper\FlashMessenger isn't compatible with Expressive"
In our project, we use `Zend\Expressive` as core and `Zend\View` as template engine. And we come across with an issue that `FlashMessenger` only works with `Zend\Mvc\Controller\Plugin\FlashMessenger` or `Zend\Mvc\Plugin\FlashMessenger\FlashMessenger`. None of them is available in Expressive and add dependencies on `Zend\Mvc` isn't a good idea.

There are different *Flash* implementations and will

[2019-12-31 22:35] weierophinney commented on #8
@popovserhii Have you seen https://github.com/zendframework/zend-expressive-flash ?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-view/issues/151#issuecomment-379220586

[2019-12-31 22:35] weierophinney commented on #8
@webimpress Yes, but this module isn't working correctly.
The problem is not in [zend-expressive-flash](https://github.com/zendframework/zend-expressive-flash) but in [zend-expressive-session-ext](https://github.com/zendframework/zend-expressive-session-ext).

Аfter `composer require zendframework/zend-expressive-flash` and modifying `config/pipeline.php`, authorization to my admin stops working.

[2019-12-31 22:35] weierophinney commented on #8
the `zend-expressive-flash` should work, I created a blog post about it some time ago https://samsonasik.wordpress.com/2018/02/11/using-view-helper-for-accessing-zend-expressive-flash-messages-in-expressive-3/

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-view/issues/151#issuecomment-379334879

[2019-12-31 22:35] weierophinney opened #9 "JsonViewModel causes double-slash when returning file paths"
As per the title, when setting a variable to the view that contains a file path, the directory separators are escaped resulting in a double-slash in the returned response body (on win 10 running zend server 9). Is there any way to set the view to use the constant JSON_UNESCAPED_SLASHES?

---

Originally posted by @bogal at https://github.com/zendframework/zend-view/issues/141

[2019-12-31 22:35] weierophinney commented on #9
you may need to extends the `JsonModel` and override the `serialize()` function

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-view/issues/141#issuecomment-379336196

[2019-12-31 22:35] weierophinney opened #10 "FlashMessenger translator does not support parameterised string"
The standard format (to my knowledge) of translating a string containing a variable would be:

```<?= sprintf($this->translate(_("Ticket '%s' has been saved"), $ticket->getName()); ?>```

The way FlashMessenger uses the Translator does not allow for such usage, and restricts the user to simple strings.

I extended the View\Helper\FlashMessenger to allow for the translator to ```sprintf()``` parame

[2019-12-31 22:35] weierophinney commented on #10
Not explicitly:

[code]

https://github.com/zendframework/zend-mvc-plugin-flashmessenger/blob/843654a029a19c38e0c3b2e940e59edec75c3e4f/src/FlashMessenger.php#L155-L157

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/140#issuecomment-336389005

[2019-12-31 22:35] weierophinney commented on #10
Yes you are right, not explicitly, but in the DocBlock the message is defined as string, which causes my IDE to flip out

---

Originally posted by @twmobius at https://github.com/zendframework/zend-view/issues/140#issuecomment-336390689

[2019-12-31 22:35] weierophinney commented on #10
Sorry, I don't understand your problem.

`_("Ticket '%s' has been saved")` - what is this underscore character?

Why do not you use:

[code]

or

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/140#issuecomment-336403830

[2019-12-31 22:35] weierophinney commented on #10
The ```_()``` notation is a typical gettext notation, which allows gettext (and tools like poedit) to extract the strings from the source code. (See here: https://en.wikipedia.org/wiki/Gettext)

As for the second part of your question:

If I were to directly call the translator on the controller, before passing the string to the FlashMessenger, it would mean that I would have to inject the transla

[2019-12-31 22:35] weierophinney commented on #10
I know Gettext, but this is not the question. Why do you use two translators?

1. `_()`
2. `$translator->translate()`

This irritates me.

Right, you must use:

[code]

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/140#issuecomment-336410452

[2019-12-31 22:35] weierophinney commented on #10
There aren't two translators anywhere.

The ```_()``` is not a translator. I am just "marking" the strings so that gettext can extract them from the source code, so as to create the .po files required by the translator.

What I want is to pass strings with parameters to the FlashMessenger in sprintf() format, i.e.:

```Ticket '%s' has been saved```

as well as the parameters to substitute ```%s```

[2019-12-31 22:35] weierophinney opened #11 "Slash at the end of a link - Problem with Zend\View\Helper\Url"
Hello,
i have integrated two links into a template as follows.

[code]

And This is my route.

[code]

**Now I have the following problems:**
1. With this configuration the link /education/student-deregistration is always output with a / at the end. This is not work. What can i do?
2. Is there a more elegant way to check the active link?

@weierophinney @RalfEggert

---

Originally posted by @mano

[2019-12-31 22:35] weierophinney opened #12 "Bug: Navigation Helper - isAllowed function - ACLlistener is Attached Several Times"
Here is a fun bug for you all.

Everytime you instantiate a new Navigation Helper the the **same**  Listener is attached to the shared Manager once again.

file: [https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/AbstractHelper.php
](https://github.com/zendframework/zend-view/blob/master/src/Helper/Navigation/AbstractHelper.php
)
[code]

so if you do
[code]

Then the sam

[2019-12-31 22:35] weierophinney commented on #12
Here is my workaround that I absolutely hate

In one of my module I am adding a delegator  at the "navigation" view helper level

[code]

Here is the delegator:

[code]

Because it is a delegator this code is executed before any initializers.
So what it does is

Get the navigation helper
tell him not to use Acl (setUseAcl(false) );
inject the eventManager (and because setAcl is false it means that

[2019-12-31 22:35] weierophinney commented on #12
Also it would be nice if the the isAllowed function had some kind of caching mechanism at the navigation container level - so it does not have to trigger events over and over if a page has already been accepted before

By the way - I would be more than happy to do the work if needed -
But I suppose it needs some kind of approval or something ?  let me know.

---

Originally posted by @cgaube at ht

[2019-12-31 22:36] weierophinney commented on #12
Another improvement:
Stop the propagation of events listening to the isAllowed event when one returns false.
If one listener returns false it means that the page is not allowed and thus we can safely stop the propagation...

Zend\View\Helper\Navigation\AbstractHelper
[code]

---

Originally posted by @cgaube at https://github.com/zendframework/zend-view/issues/129#issuecomment-319257007

[2019-12-31 22:36] weierophinney commented on #12
@aft-christophe

This will be addressed for version 3 of `zend-navigation`. And also other performance improvements.

Why does `zend-permissions-acl` need to know something from `zend-navigation`? (Do not forget `zend-permissions-rbac`.)

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/129#issuecomment-322992000

[2019-12-31 22:36] weierophinney commented on #12
Thank you

That s great.

Ok so because it is related to navigation you want that in the navigation repo - that s fine by me.

We could ask the question the other way around though - why would zend-navigation need to
know something from zend-permissions-acl

Thanks

---

Originally posted by @cgaube at https://github.com/zendframework/zend-view/issues/129#issuecomment-323203490

[2019-12-31 22:36] weierophinney commented on #12
@aft-christophe

I never said that! 😃

Btw. I think, before version 3 we can add some small improvements like stopping the propagation.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/129#issuecomment-323212471

[2019-12-31 22:36] weierophinney opened #13 "remove getRegistry() and unsetRegistry() that E_USER_DEPRECATED at Registry Placeholder"
---

Originally posted by @samsonasik at https://github.com/zendframework/zend-view/pull/127

[2019-12-31 22:36] weierophinney opened #14 "remove deprecated const EOL in AbstractHtmlElement"
---

Originally posted by @samsonasik at https://github.com/zendframework/zend-view/pull/126

[2019-12-31 22:36] weierophinney opened #15 "Proposal for a code documentation"
I propose to add the following lines to the 'Renderer/PhpRenderer.php' file
[code]

This will add IDE autocomplete for form helpers

---

Originally posted by @Sohorev at https://github.com/zendframework/zend-view/issues/102

[2019-12-31 22:36] weierophinney commented on #15
It would definitely help, but I see two problems:

- all form helpers do not belong to the `Zend\View` component
- if we add the form helpers, we must also add the [i18n helpers](https://github.com/zendframework/zend-i18n/tree/master/src/View/Helper)

Are there any other ideas or suggestions how we can get an IDE support for helpers from other components?

---

Originally posted by @froschdesign a

[2019-12-31 22:36] weierophinney commented on #15
I like the idea to add a description of all the helpers (and  i18n helpers too) to the 'Renderer/PhpRenderer.php' file
I have no other ideas. Now for the my project I made a custom renderer in which he described all the helpers

---

Originally posted by @Sohorev at https://github.com/zendframework/zend-view/issues/102#issuecomment-262469758

[2019-12-31 22:36] weierophinney commented on #15
Agree with @froschdesign. It is also massively misleading, giving impression that the components are already available. I will try to use them, since IDE says they are there, and then get service manager errors about components not existing. This contradictory behavior will not be obvious to solve where the problem is.

It is also a mild problem with custom view helpers.

An off the wall propositi

[2019-12-31 22:36] weierophinney commented on #15
Phalcon Framework has additional class-empty structures to help IDE with code completion, called "ide-stubs".

https://github.com/phalcon/ide-stubs

We can create, another project, called "zend-view-stubs", or something, to add this feature into IDEs.

---

Originally posted by @wandersonwhcr at https://github.com/zendframework/zend-view/issues/102#issuecomment-298672306

[2019-12-31 22:36] weierophinney commented on #15
One thing I did is defining all `@method` declarations in a trait (one per
module). Not nice, but at least I found a use-case for traits 😋

On 2 May 2017 17:36, "Wanderson Camargo" <notifications@github.com> wrote:

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-view/issues/102#issuecomment-298787653

[2019-12-31 22:36] weierophinney commented on #15
I don't believe you're telling this, @Ocramius! LOL

---

Originally posted by @wandersonwhcr at https://github.com/zendframework/zend-view/issues/102#issuecomment-298904775

[2019-12-31 22:36] weierophinney commented on #15
I also use traits for zend-form and zend-i18n.

@weierophinney
Any comments on this? Can we create these traits in these components?

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-329595193

[2019-12-31 22:36] weierophinney commented on #15
@froschdesign Sure, but the question is: how do these traits then get composed into the `PhpRenderer`? And if they don't, does that mean the developer is then responsible for creating a sub-class that does? What does that mean for the factory that creates a `PhpRenderer` instance for the application?

I think there are still questions to be answered...

---

Originally posted by @weierophinney at

[2019-12-31 22:36] weierophinney commented on #15
@weierophinney
At the moment a user must add on every view scripts these lines:

[code]

With the new traits:
[code]
Depending on which components are in use.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-329599118

[2019-12-31 22:36] weierophinney commented on #15
Oh, I see - the traits go _in the view scripts_.

Yes, go for it! Don't forget to add documentation for this as well, so folks know what they need to do in order to enable these IDE-centric features.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-view/issues/102#issuecomment-329600780

[2019-12-31 22:36] weierophinney commented on #15
@weierophinney

We should add an explanation with a code example in the documentation and also a description in the DocBlock of each trait.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-329601573

[2019-12-31 22:36] weierophinney commented on #15
What is the status of this issue?
Are there pull requests associated with this issue in the other repositories?

---

Originally posted by @thexpand at https://github.com/zendframework/zend-view/issues/102#issuecomment-412082328

[2019-12-31 22:36] weierophinney commented on #15
@thexpand

No, but the label "help wanted" is still present. 😉

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-412083892

[2019-12-31 22:36] weierophinney commented on #15
@froschdesign
I will be able to help, but will need your approval.
As far as I understand, we will need a `HelperTrait` trait file in every `Zend\<COMPONENT>\View` namespace that will define all available methods, that the component has, via a `@method` declaration in the doc block?
Is that correct? If yes, I can make some PRs on the corresponding component repositories.

---

Originally posted by

[2019-12-31 22:36] weierophinney commented on #15
@thexpand
Correct. The DocBlock of the traits should also include an explanation with a code example how it is used.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-412088091

[2019-12-31 22:36] weierophinney commented on #15
Btw. Thanks in advance. 👍

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-412088249

[2019-12-31 22:36] weierophinney commented on #15
@froschdesign
You mean a code example of how the trait is used inside templates?
Such as the second one here: https://github.com/zendframework/zend-view/issues/102#issuecomment-329599118

---

Originally posted by @thexpand at https://github.com/zendframework/zend-view/issues/102#issuecomment-412092127

[2019-12-31 22:36] weierophinney commented on #15
@thexpand

Right, because without any explanation no one knows why these traits are there.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-view/issues/102#issuecomment-412094180

[2019-12-31 22:36] weierophinney commented on #15
@froschdesign
Okay, got it. Getting my hands dirty on it ;)

---

Originally posted by @thexpand at https://github.com/zendframework/zend-view/issues/102#issuecomment-412263137

[2019-12-31 22:36] weierophinney opened #16 "Remove FlashMessenger view helper"
Remove FlashMessenger view helper as requested by https://github.com/zendframework/zend-mvc-plugin-flashmessenger/issues/3

Complementary port to MVC Plugin PR is at https://github.com/zendframework/zend-mvc-plugin-flashmessenger/pull/10

---

Originally posted by @alextech at https://github.com/zendframework/zend-view/pull/95

[2019-12-31 22:36] weierophinney commented on #16
needs rebase

---

Originally posted by @samsonasik at https://github.com/zendframework/zend-view/pull/95#issuecomment-302154458

[2019-12-31 22:36] weierophinney opened #17 "Different templatemap_generator symlink during composer install"
Sometimes, when I run composer install, it create in the folder `vendor/bin` a symlink `templatemap_generator.php` that links to `../zendframework/zendframework/bin/templatemap_generator.php`

Sometimes, that file links to `./zendframework/zendframework/bin/pluginmap_generator.php`

What's the criteria and how to force to choose the last one (that I think it's the newest one)?

---

Originally pos

[2019-12-31 22:36] weierophinney opened #18 "Invokable view variable shouldn't be invoked"
Hi,

when passing an invokable object to the view and trying to access it, the object is being invoked automatically which may not be intended.

[code]

**Expected output:**
`test`

**Actual output:**
`Argument 1 passed to class@anonymous::__invoke() must be of the type array, none given`

The reason is here (`Zend/View/Variables.php`):

[code]

The process of passing and accessing variables shoul

[2019-12-31 22:36] weierophinney commented on #18
Interestingly, that's a new feature, and it was done to allow defining helpers without requiring implementation of `HelperInterface` (see #60). As such, any such change at this point would be a BC break. We'll have to evaluate if this should be the behavior going forward, or something we want to revert and/or change with the next major version of zend-view.

---

Originally posted by @weierophinne

[2019-12-31 22:36] weierophinney commented on #18
But how am I supposed to pass invokable objects then?

In short to show that my situation is not special (at least IMHO): I want to pass a command-like object to the view (ReplaceTranslation) and I want to show a preview of that command output (via its invokable method) as well as its name. I have more commands.

Workarounds I was thinking about:
- pass just the return values of all required metho

[2019-12-31 22:36] weierophinney commented on #18
Am also having this problem. Had same ideas around workarounds, but all of these feel bad. I reversed engineered that some prior version ZF2 (beta most likely) had a `getRawValue` method which could have helped.

---

Originally posted by @roelvanduijnhoven at https://github.com/zendframework/zend-view/issues/85#issuecomment-260071716

[2019-12-31 22:36] weierophinney commented on #18
Though it _does_ have some nice properties ;)!

In the end I chose to use the second approach, which was really not a big of a deal.

---

Originally posted by @roelvanduijnhoven at https://github.com/zendframework/zend-view/issues/85#issuecomment-260072810

[2019-12-31 22:36] weierophinney opened #19 "URL helper plugins can't manage "+" character"
The bug is related to https://github.com/zendframework/zendframework/issues/4678 and it's still present.
The problem is that url() helper doesn't translate sign **+** to **%2B**

When I try to generate URL in a view:

[code]

Url helper return  **_/basketball/102/sport+.html_**  but it should be **_/basketball/102/sport%2B.html_**
since [rawurlencode()](http://php.net/manual/en/function.rawurlenco

[2019-12-31 22:36] weierophinney commented on #19
Maybe good way to bypass the bug without braking old code,
is to add [new key](https://github.com/zendframework/zend-view/blob/master/src/Helper/Url.php#L46) in the $option eg. 'force_percent_encoding'

[code]

Basically, replace chars from [this list](https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters)

---

Originally posted by @tasmaniski at https://github.com/z

[2019-12-31 22:36] weierophinney opened #20 "Support strict_vars globally in application config"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/6127
User: @hschletz
Created On: 2014-04-12T18:08:09Z
Updated At: 2016-05-03T10:44:27Z
Body
I want a notice whenever a view template t

[2019-12-31 22:36] weierophinney opened #21 "Passing variables to JavaScript from a controller"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7160
User: @bogdanghervan
Created On: 2015-01-27T02:01:15Z
Updated At: 2015-09-16T12:37:21Z
Body
Often at times in the past I needed t

[2019-12-31 22:36] weierophinney opened #22 "Url view helper and controller plugin feature to reuse matched query args"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7350
User: @27cm
Created On: 2015-03-20T07:41:10Z
Updated At: 2015-11-06T20:58:33Z
Body
There is no easy way to reuse query arguments

[2019-12-31 22:36] weierophinney commented on #22
I wrote my own url helper that wraps oryginal helper and adds functionality to reuse query parameters. I need to inject request to get current query.

[code]

Couldn't for some reason this be done in oryginal helper?

---

Originally posted by @bartoszzajac at https://github.com/zendframework/zend-view/issues/74#issuecomment-256556038

[2019-12-31 22:36] weierophinney opened #23 "Stack with HeadLink helper"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/7623
User: @EugeneVdovenko
Created On: 2015-09-08T18:39:51Z
Updated At: 2015-11-06T22:21:01Z
Body
I write:

[code]

and I have:

[code

[2019-12-31 22:36] weierophinney opened #24 "[ZF3][RFC] View refactoring"
This issue has been moved from the `zendframework` repository as part of the bug migration program as outlined here - http://framework.zend.com/blog/2016-04-11-issue-closures.html

---

Original Issue: https://api.github.com/repos/zendframework/zendframework/issues/3935
User: @MatyCZ
Created On: 2013-03-02T15:28:49Z
Updated At: 2014-06-12T10:51:43Z
Body
- Model options is now situated in separated

[2019-12-31 22:36] weierophinney opened #25 "JsonStrategy should not set content-transfer-encoding response header"
As of zendframework/zendframework#3483, JsonStrategy adds the `Content-Transfer-Encoding` header when using UTF-16 or UTF-32. I believe doing so is incorrect, as `Content-Transfer-Encoding` is a MIME header, not an HTTP header.

https://tools.ietf.org/html/rfc7231#appendix-A.5:

Apparently the confusion originated with [a comment](https://github.com/zendframework/zendframework/pull/3483#issuecomme

[2019-12-31 22:36] weierophinney opened #26 "JsonStrategy should NOT set response charset with application/json"
[code]

JsonStrategy adds the `charset` parameter to the `application/json` content type, which is not compliant with the spec.

https://tools.ietf.org/html/rfc7159#section-11:

The incorrect behavior was introduced here:
zendframework/zendframework#2629
zendframework/zendframework#3483

---

Originally posted by @ademarre at https://github.com/zendframework/zend-view/issues/61

[2019-12-31 22:37] weierophinney opened #27 "Wrong mime type for JSONP response"
If I set a JSONP callback to my JSON view model, the returned mime type is `application/json` instead of `application/javascript`. This is due to the JsonStrategy which checks if the JsonRenderer has a JSONP callback to switch the mime type. But the JsonRenderer doesn't have a JSONP callback, only my view model has one.

As a workaround, I now set the callback to the renderer (`$this->getServiceLo

[2019-12-31 22:37] weierophinney commented on #27
+1

---

Originally posted by @thedava at https://github.com/zendframework/zend-view/issues/41#issuecomment-232001161

[2019-12-31 22:37] weierophinney opened #28 "Remove stream wrapper functionality"
Fixes #23.

---

Originally posted by @mtymek at https://github.com/zendframework/zend-view/pull/34

[2019-12-31 22:37] weierophinney commented on #28
Tests are failing, but it looks like compatibility issues with other ServiceManager v3.

---

Originally posted by @mtymek at https://github.com/zendframework/zend-view/pull/34#issuecomment-181566972

[2019-12-31 22:37] weierophinney commented on #28
As I said on #23,
`Since PHP 5.4.0, <?= is always available.`
Is this BC break ?
( situation when user uses extending \Zend\View\Stream ?)

---

Originally posted by @sasezaki at https://github.com/zendframework/zend-view/pull/34#issuecomment-279163160

[2019-12-31 22:37] weierophinney commented on #28
@sasezaki the reason this is labeled as BC break is removal of API (even if protected). The correct approach could be deprecation + removal of these method bodies, while the API survives till the next major release.

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-view/pull/34#issuecomment-279311863

[2019-12-31 22:37] weierophinney commented on #28
@Ocramius thanks describe reason

---

Originally posted by @sasezaki at https://github.com/zendframework/zend-view/pull/34#issuecomment-279371719

[2019-12-31 22:37] weierophinney commented on #28
@sasezaki it's an API change, which means that any subclasses may be broken by the change (that's why we use `private` by default now)

---

Originally posted by @Ocramius at https://github.com/zendframework/zend-view/pull/34#issuecomment-279468030

[2019-12-31 22:37] weierophinney opened #29 "[v3] remove Zend\View\Stream and useStreamWrapper option"
If I don't misunderstood, zf1 Zend_View_Stream was introduced for short_open_tag off environment ,

but `Since PHP 5.4.0, <?= is always available.`
http://php.net/manual/en/ini.core.php#ini.short-open-tag

so I think Zend_View_Stream can be removed since zf3.

---

Originally posted by @sasezaki at https://github.com/zendframework/zend-view/issues/23

[2019-12-31 22:37] weierophinney commented on #29
:+1:

---

Originally posted by @gianarb at https://github.com/zendframework/zend-view/issues/23#issuecomment-164439614

[2019-12-31 22:37] weierophinney opened #30 "ZendView 3: Rendering engine simplification"
Seeing that work on ServiceManager and EventManager is progressing, I'd like to start discussing new `Zend\View`.
My goals are to:
1. reduce overall complexity
2. keep as much backwards compatibility as possible
3. add more flexibility, so that Zend\View can be nicely integrated with non-ZF app (or outside of MVC flow).

As a first step, I prepared a proposal for rendering mechanism.
## Responsibi

[2019-12-31 22:37] weierophinney commented on #30
It is possible to remove the magic get/set methods for variables? They are slow and people are forced to check if variables are set. Could avoid Bugs. Another point is the PHPDoc block for variables in the view script, so code completion is available.

This reduces the complexity too.

---

Originally posted by @sandrokeil at https://github.com/zendframework/zend-view/issues/19#issuecomment-156244

[2019-12-31 22:37] weierophinney commented on #30
It would be nice if the ViewManager or View would support rendering outside the MVC lifecycle e.g. for rendering the body of a mail.
The view manager does not expose the functionality to get the configured ViewStategies, and the view does not expose how to get a configured Renderer for a template/ViewModel.
Hooking into the rendering events of the view requires a response to be present when render

[2020-01-15 19:17] michalbundyra opened #32 "Placeholder View Helper "containerExists" makes no sense"
At the moment the public function containerExists does not have any change to work:

because __invoke checks if a name is set it is impossible to call placeholder()
So to check if a placeholder name exists you have to all call
placeholder('foobar')->containerExists('foobar')

but then the container is created in __invoke and containerExists returns in every case true.

And because placeholder('dum

[2020-01-15 19:17] michalbundyra opened #33 "silent fail on Json::encode Error"
https://github.com/zendframework/zend-view/blob/ef3d64b8815a069c60cf7b9a6de636ee26fc9fe0/src/Renderer/JsonRenderer.php#L151

if json_last_error() != 0 no exception ist thrown

---

Originally posted by @lkainers at https://github.com/zendframework/zend-view/issues/9

[2020-01-15 19:18] michalbundyra commented on #33
Source of the problem is in [`Zend\Json\Json::encode`](https://github.com/zendframework/zend-json/blob/d85e80f75a0585d692633504cad714b943f4c57e/src/Json.php#L99) not in `Zend\View\Renderer\JsonRenderer`.

---

Originally posted by @Martin-P at https://github.com/zendframework/zend-view/issues/9#issuecomment-130203036

[2020-02-12 19:35] antiphp opened #34 "laminas-view still not usable for <2.5"
### Bug Report

I used ZF version <2.5 and did the migration to Laminas (laminas-migration). However laminas/laminas-view:<2.5 (which resolves to 2.4.13) still contains Zend namespace. There is a 2.4.13p1 release that fixes the namespace, but <2.5 resolves to 2.4.13 and not 2.4.13p1 (I dont know what p1 should mean) and 2.4.13p1 does itself not resolve the dependency to laminas/laminas-eventmanage

[2020-03-27 08:18] #4 closed

[2020-05-01 18:51] michalbundyra commented on #34
@antiphp

Can you check it again please?
I think it has been solved with 2.4.13p2.
I've tried on mine and this is what I have installed:

[code]

PHP 7.3.11
Composer 1.10.5

We had there wrong requirements and it should be already fixed.

Thanks for reporting.

[2020-05-01 20:05] froschdesign opened #40 "Extract documentation for PartialLoop helper from Partial"
The PartialLoop helper is a separate class and helper and therefore it should be listed and documented in separate page.
Both helpers must be linked to each other.

[2020-05-20 09:31] cb0 opened #43 "Unset possible xdebug_messages in PHPRenderer on Exception"
### Feature Request

If a non existing form fieldset/element should be rendered, and xdebug is currently enabled, the exception will contain a public property called `xdebug_message` containing html formatted message.

That message will be huge (500+MB in my case) depending on the complexity of the form (see screenshot).

https://imgur.com/a/p90IxRR

For most browser this will result in
- waiting

[2020-05-20 09:39] #43 closed

[2020-05-20 09:40] cb0 commented on #43
Is somehow created 2 pr for the same issue :(
https://github.com/laminas/laminas-view/pull/42

[2020-06-23 06:13] tbuerli opened #45 "Typo in laminas-view/helpers"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.11.4

#### Summary

The current documentation is inconsistent with uppercase and lowercase.
Therefore the example isn't working.

#### How to reproduce

On the page:
https://docs.laminas.dev/laminas-view/helpers/advanced-usage/#writing-custom-helpers

#### Current behavior
The registration gets described with the followin

[2020-06-23 07:40] froschdesign commented on #45
@tbuerli
Thanks for reporting this problem.
It would be great if you could create a pull request. Thanks in advance!

[2020-06-23 08:38] tbuerli commented on #45
@froschdesign
I created a pull request https://github.com/laminas/laminas-view/pull/46

[2020-06-23 13:31] #45 closed

[2020-07-14 08:33] samsonasik commented on #16
I created PR #47 for it.

[2020-07-16 01:01] samsonasik commented on #17
I can't reproduce in the latest `laminas-mvc-skeleton`. Please re-create issue if the problem persist.

I'm closing it

[2020-07-16 01:01] #17 closed

[2020-07-16 01:15] samsonasik commented on #9
I'm closing it as can be achieved by extends the JsonModel and override the serialize() function.

[2020-07-16 01:15] #9 closed

[2020-07-16 01:49] samsonasik commented on #8
There is mezzio-flash for that https://github.com/mezzio/mezzio-flash . You can create a view helper to retrieve it. I'm closing it.

[2020-07-16 05:29] froschdesign commented on #8
@samsonasik

I think you missed the reason of this feature request: the view helper should come from the framework. It is very annoying that I have to create it myself in every application.

Please do not close issue reports if there are added to active projects.

[2020-07-16 08:46] samsonasik commented on #8
@froschdesign ah, ok, just see the label, thank you ;)

[2020-07-16 08:57] froschdesign commented on #8
@samsonasik
No problem, here are so many labels and other linked objects. 😃

There is a good chance that the helper is not added to this component but the basic problem must be solved. The same problem affects the `Identity` helper because the helper also does not work in a Mezzio application and there is no alternative helper.

[2020-07-17 03:48] samsonasik commented on #7
I've created PR #49 for it.

[2020-07-21 15:00] rieschl opened #50 "Doctype doesn't have a factory in Mezzio"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.11.4

#### Summary

The `Doctype` view helper does not have a factory in Mezzio, so configuration is not respected.

#### Current behavior

When invoking the Doctype view helper in a Mezzio app with `<?= $this->doctype() ?>` in the view, there is no special factory for it in Mezzio, so the `InvokableFactory` kicks in.
The

[2020-07-21 19:44] froschdesign commented on #50
First: good catch!

So far this is correct because only laminas-mvc includes the [ViewManager](https://docs.laminas.dev/laminas-mvc/services/#viewmanager).

For laminas-view the config key with name `view_helper_config` must be used. Compare with existing helpers and the related factories:

* [Asset helper](https://docs.laminas.dev/laminas-view/helpers/asset/#configuration-and-basic-usage)
https:/

[2020-08-07 09:04] DennisDobslaf opened #51 "type in script tags for classic scripts (js) should be ommited"
Referring to:
https://html.spec.whatwg.org/multipage/scripting.html#the-script-element

The type attribute text/javascript is unnecessary and should be ommited.

But it seems, there is no option to get rid of it:

https://github.com/laminas/laminas-view/blob/313e1c7b20094ebe79e12db420f6b793aca93206/src/Helper/HeadScript.php#L174

[2020-08-10 00:08] samsonasik commented on #5
I've created PR https://github.com/laminas/laminas-view/pull/52 for it which add `ArrayAccess` to `ViewModel` $variables parameter docblock.

[2020-08-10 01:04] samsonasik commented on #34
I tried it and working fine in my side:

![Screen Shot 2020-08-10 at 8 03 25 AM](https://user-images.githubusercontent.com/459648/89745738-08991100-dae0-11ea-851f-f4b194c7bc2b.png)

I am closing it.

[2020-08-10 01:04] #34 closed

[2020-08-10 14:59] #5 closed

[2020-08-23 20:41] antiphp commented on #34
It works for me as well, thank you!

[2020-09-22 15:59] weierophinney commented on #55
I cannot reproduce this issue.

I wrote the following unit test:

[code]

with the following assertion class:

[code]

The test passes both with lowest and latest dependencies installed, correctly omitting the `Ticketing` page from navigation. When toggling the flag passed to `CustomAssertion` to `true`, the test correctly failed as well (as the `Ticketing` page is now allowed).

[2020-09-22 15:59] #55 closed

[2020-10-04 15:29] boesing opened #56 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:45] boesing opened #57 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-04 19:06] rieschl commented on #50
So what are you suggesting now? Maybe I'll come up with a PR, then.
Linking to the `FlashMessenger` and `AssetHelper` factories, are you suggesting adding a similar factory for `Doctype`?
That'll solve the factory problem but it's not very apparent to people who are migrating from mvc to mezzio. I'm not aware of a migration guide...

[2020-10-08 07:43] froschdesign commented on #50
@rieschl

Right.

In Mezzio there is no view manager, so it would be even more confusing if the configuration had to be used like in a laminas-mvc application.

Nothing concrete is planned so far but every idea is welcome.

[2020-10-11 18:16] rieschl commented on #50
Hey @froschdesign I was just about to write a factory when I saw the [comment in the plugin manager](https://github.com/laminas/laminas-view/blob/2.12.x/src/HelperPluginManager.php#L222). And it got me thinking, why we just don't change the [default Doctype](https://github.com/rieschl/laminas-view/blob/57ffdc9815707a15bed8e40efbb7661c7c93c9b2/src/Helper/Doctype.php#L43) from HTML4 loose to `HTML5`

[2020-10-13 12:51] froschdesign commented on #50
@rieschl

This is nice idea but…

…it does not resolve the problem if someone wants to change the doctype.

…it changes the behaviour which results in a different HTML output for the doctype and the output of some view helpers.

[2020-10-13 14:21] weierophinney commented on #50
@rieschl We can make the change... but as @froschdesign correctly notes, it's a BC break, which would require a new major version.

[2020-10-13 14:33] froschdesign commented on #50
It may be true that most people use HTML5, but these are not _all_.

[2020-11-17 22:47] #57 closed, assigned to nobody

[2021-01-01 14:04] boesing commented on #50
Closed with #59

[2021-01-01 14:04] #50 closed

[2021-02-25 14:53] gsteel commented on #56
Happy to have a crack at this if/when #67 is merged - if that works out, I can add Psalm QA to the matrix like [#24](https://github.com/laminas/laminas-paginator/pull/24) in paginator?

[2021-02-25 14:59] weierophinney commented on #56
@gsteel We should get the GHA pipeline in place on this package first - then you don't even need to do the `.travis.yml` steps here, as the new CI tooling auto-discovers it.

[2021-02-25 15:08] gsteel commented on #56
Hey @weierophinney - I think that's what #67 is about - does it look good to you?

[2021-03-01 14:28] weierophinney commented on #56
@gsteel Looks like Marco merged #67, so feel free to take this on - target the 2.13.x branch though, please.

[2021-03-01 19:55] Ocramius opened #71 "`2.12.x` branch to be renamed `2.13.x`, `2.12.x` to be re-created from `2.12.0`"
The current `2.12.x` branch is effectively `2.13.x`, and should **not** be released as-is.

TODOs:

 * [ ] rename `2.12.x` to `2.13.x`
 * [ ] fix `2.13.x` build (fails on markdown linting)
 * [ ] re-create `2.12.x` from `2.12.0` tagged release
 * [ ] move issues from milestone `2.12.1` to milestone `2.13.0`

[2021-03-01 22:05] gsteel commented on #71
#72 Should solve the markdown linting problem but may well require review from @froschdesign … I've setup some linting rules to help the docs pass with as little modification to the existing docs as possible so there's not too much noise and those rules may or may not be OK

[2021-03-16 10:45] func0der opened #73 "Type hint for `ViewModel::getIterator()`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary
To satisfy static code analyzers like `phpstan` or `psalm`, we should add a type hint for `ViewModel::getIterator()` to avoid issues like these: https://phpstan.org/r/4b5b2db4-58c5-45c1-878d-f107d605fd69 (PHPStan example. Line 11 and 13: '...type has no value type specified in iterable type...').

Thi

[2021-03-17 09:25] froschdesign commented on #73
@func0der

Should be the same with Psalm.

---

This issue report is related to #56 – any help is welcome here!

[2021-04-23 14:26] gsteel commented on #71
Perhaps we can get 2.13.x out the door if I re-open _(and fix)_  #72 - Maybe I could ask for a bit of help from @froschdesign or @weierophinney on the docs formatting??? That would get CI working nice and allow other pulls to be pushed thru :D

[2021-04-24 06:13] froschdesign commented on #71
@gsteel
You can re-open #72 but all changes to the line lengths must be revert. The configuration for the markdownlint is already [updated](https://github.com/laminas/laminas-continuous-integration-action/blob/bf7d42f3d8eb1a0b817ded98db13cfc899f4440e/etc/markdownlint.json#L3).
The special Markdown syntax for [tabs](https://facelessuser.github.io/pymdown-extensions/extensions/tabbed/) can be exclud

[2021-08-20 07:00] froschdesign commented on #51
Fixed with #53 and released with version [1.11.5](https://github.com/laminas/laminas-view/releases/tag/2.11.5).

[2021-08-20 07:00] #51 closed

[2021-08-26 10:50] fabiang opened #79 "[PHP 8.1] Uncaught Return type of Laminas\View\Model\ViewModel::count()"
Full error message:

Seems like they added `int` as return type to `Countable` interface. Guess Laminas must add `#[ReturnTypeWillChange]` attribute so not to break compatibility with PHP 5. I'm pretty sure this change affects many Laminas components.

[2021-09-03 17:23] matbech commented on #79
The same issue has been addressed in a recent commit in stdlib:
https://github.com/laminas/laminas-stdlib/commit/c53d8537f108fac3fae652677a19735db730ba46#diff-04413b84f454666b559ddb848ef83273148267862313b28090db4af81eded901R189

[2021-10-09 15:26] konarshankar07 commented on #56
@boesing
I'm working on this

[2021-10-09 15:53] konarshankar07 commented on #56
PR created for this ticket https://github.com/laminas/laminas-view/pull/80

[2021-10-12 16:47] weierophinney commented on #71
I'm a bit confused at this point. I think we can go forward with 2.12.1 from the current state of 2.12.x, as it has 7 PRs already merged against it, all since 2.12.0 was released, and that will then create the 2.13.x branch. We can then re-target existing PRs that we've tagged for 2.13.0 against that.

[2021-10-12 16:47] #71 closed, assigned to Ocramius

[2021-10-12 17:46] froschdesign commented on #79
Fixed with #81

[2021-10-12 17:46] #79 closed, assigned to nobody

[2021-10-12 18:30] #56 closed, assigned to nobody

[2022-01-12 15:05] gsteel opened #115 "Remove console related code"
### Feature Removal

|    Q        |   A
|------------ | ------
| BC Break    | yes

#### Summary

Remove all `laminas-console` related code such as `ConsoleRenderer`, `ConsoleModel`

Reference: #101

[2022-01-12 15:07] gsteel opened #116 "Remove deprecated helpers"
### Feature Removal

|    Q        |   A
|------------ | ------
| BC Break    | yes

#### Summary

#102 deprecates flash and quicktime helpers. These should be removed in 3.0

[2022-01-12 15:12] gsteel opened #117 "Remove Zend Compatibility and Legacy Helper Aliases"
### Feature Request

|    Q        |   A
|------------ | ------
| BC Break    | yes

#### Summary

All the zend related aliases are self explanatory, but the normalised aliases used back in ServiceManager 2.x such as `laminasviewhelperheadscript` should be removed for 3.x

I think it would also be worth settling on a consistent convention for the aliases so that instead of having `headScript`, `he

[2022-01-14 09:08] gsteel opened #120 "[RFC]: Make AbstractHelper internal and Guarantee a renderer for existing implementors"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.0.0  |
| BC Break?           | Yes |

### Goal

To further improve SA and minimise the number of checks for "Do I have a renderer yet", either make the renderer a constructor dependency for HelperPluginManager _(And provide a factory)_ or throw an exception on retrieval if null, effectively making t

[2022-01-14 09:50] gsteel opened #121 "[RFC]: Ship factories, config providers and make use of plugin-installer"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | 3.0.0 possibly 2.x.x |
| BC Break?           | Maybe |

### Goal

#110 - Yet to be merged or approved, adds config providers that help to centralise configuration, removing config from inside HelperPluginManager for example.

It would be useful to provide factories for the key components in view such

[2022-01-14 09:58] froschdesign commented on #121
@gsteel
What do you think about to removing the hard dependency on laminas-servicemanager, especially the plugin managers?

An example can be found in laminas-feed:

* https://github.com/laminas/laminas-feed/blob/269d3e18139c5e09d5741ebf9cc682f826b45952/src/Reader/ExtensionManagerInterface.php
* https://github.com/laminas/laminas-feed/blob/269d3e18139c5e09d5741ebf9cc682f826b45952/src/Reader/Standa

[2022-01-14 10:27] gsteel commented on #121
@froschdesign

I guess for view helpers, the important thing is aliases used with `__call`, so it would mean duplicating a lot of functionality already present in SM such as detecting cyclic dependencies, resolved instances, auto-invokables, in-memory registry of constructed helpers etc, if compatibility with existing configuration was to be preserved.

But I guess, if all the plugin manager did w

[2022-01-14 11:03] froschdesign commented on #121
That's the idea behind it! 😃

[2022-01-26 15:34] rutek opened #124 "Strict types enforces strict typing for userland helpers since 2.17"
### BC Break Report

|    Q        |   A
|------------ | ------
| laminas-view version | 2.17+
| PHP version | 7.4

#### Summary

Laminas View component has been updated to match Laminas Coding Standards in version 2.17. It included adding `strict_types=1` to every class. It breaks userland code enforcing strict types to helper calls. I noticed it for custom helpers but it needs further investigat

[2022-01-26 16:07] Ocramius commented on #124
Not really: they just need to respect the types declared in the interface/abstract types, which have been in place for a decade now.

[2022-01-27 07:39] rutek commented on #124
@Ocramius I don't refer to types declared in `AbstractHelper` nor `HelperInterface`. I am writing about all types hinted in any possible place inside helper which has been created by user. Especially arguments of `__invoke` method.

I agree that matching types is way to go but let's be honest - enforcing strict types during regular update (not some bigger version) is not a way to go. Especially wh

[2022-01-27 15:11] Xerkus commented on #124
This is not so much due to strict types of helpers but from helper accessed via `__call()` magic method in php renderer which defines strict types.

https://github.com/laminas/laminas-view/blob/5f2ed1af896543e986090afb6433e32409c99d4d/src/Renderer/PhpRenderer.php#L402-L411

Problem of incorrect types passed around until they smash into type declaration in strict context won't be solved by removing

[2022-01-31 22:20] #33 closed

[2022-01-31 22:22] #116 closed, assigned to gsteel

[2022-02-01 12:39] #117 closed, assigned to nobody

[2022-02-01 13:24] #29 closed

[2022-02-01 14:45] gsteel opened #133 "Remove Prophecy dev Dependency in 3.0.x"
### Feature Request

|    Q        |   A
|------------ | ------
| BC Break    | no

#### Summary

#132 fulfils most of this requirement.

The flash messenger test is deleted in #47 and `IdentityFactoryTest` has already been updated in #128

All that will be required once all those are merged in 3.x is to update composer.json to drop prophecy and its trait/plugin

[2022-02-01 17:27] #13 closed

[2022-02-23 22:56] gsteel opened #149 "[RFC]: Massive BC Break and Simplification of `laminas-view`"
With the approaching 3.0 release, I'd like to propose a significant simplification of the laminas-view rendering architecture so that it consists of fewer components with smaller apis.

- A Template resolver _(of which there should remain  a number of implementations to satisfy the use case of different resolution mechanisms and directory layouts)_ becomes a hard dependency of the template rendere

[2022-02-24 09:22] froschdesign commented on #149
@gsteel
First: I like the direction, but I the massiv BC break is a big problem and this should be discussed at the next TSC meeting. Please put this on the agenda. Thanks! 👍

[2022-02-24 09:54] froschdesign commented on #149
That is one point why I think we need some more discussions:

Unfortunately, you are overlooking a crucial point here, because it is all about ease of use. In the current version of laminas-mvc and laminas-view you can write:

[code]

What is the current alternative? Right, it is ugly and user-unfriendly.

That was the goal of the original implementation, ease of use.
Can it be solved better? Defi

[2022-02-24 10:52] gsteel commented on #149
IMO, removal of features like this is part of the whole idea. I'm a bit out of touch with MVC these days, but I would personally solve the same problem with something like:

[code]

Things like rendering json and xml content just feel completely out of scope for primarily a templating library and I think that if rendering Feed responses is required to be easy in MVC, then it should be MVCs problem

[2022-02-24 11:20] froschdesign commented on #149
But this is not user-friendly! 😄

That's why I also wrote, it can definitely be solved better, but it must be simple. Setting a header yourself is not easy! The information that it is an RSS or Atom feed, including the encoding, is already present, so why should the user add the header themselves?

[code]

Like with [laminas-diactoros and the custom response](https://docs.laminas.dev/laminas-diact

[2022-03-23 14:47] #115 closed, assigned to nobody

[2022-03-24 01:05] #14 closed

[2022-03-24 01:07] #8 closed

[2022-03-24 01:07] #16 closed

[2022-03-24 01:07] #133 closed, assigned to nobody

[2022-03-24 01:09] #7 closed

[2022-03-24 01:09] #32 closed

[2022-04-02 14:48] gsteel opened #161 "Gravatar Image Helper: Implement constants for all the possible image types"
The replacement gravatar helper has a string argument to configure the fallback image type that must be known up-front - whilst psalm will issue an error for an invalid/unknown option, public constants provide better discoverability and are more easily documented…

_Originally posted by @froschdesign in https://github.com/laminas/laminas-view/pull/158#discussion_r841071994_

[2022-04-06 17:20] Ocramius commented on #161
Handled in #162

[2022-04-06 17:20] #161 closed, assigned to gsteel

[2022-04-08 09:45] froschdesign commented on #149
The results of the meeting can be read in [the minutes from the 2022-04-04](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2022-04-04-TSC-Minutes.md#rfc-to-simplify-laminas-view).

[2022-07-12 15:02] renovate[bot] opened #168 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-view).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

[2022-08-17 19:22] Saeven opened #172 "A new assertion added into Layout prohibits use of OSS renderers such as provided by Twig. Would like to soften it."
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | somewhat

#### Summary

An assertion was added to Layout::getViewModelHelper() which prohibits OSS implementations of RendererInterface in the wild, for example, Twig's [TwigRenderer](https://github.com/kokspflanze/ZfcTwig/blob/master/src/View/TwigRenderer.php).

    protected func

[2022-08-17 19:29] Ocramius commented on #172
That code is hacky as hell.

Let's first remove the assertion, but we should really just get rid of such janky consteuct 😬

[2022-08-17 19:36] Saeven commented on #172
Hey Marco, yeah I stopped short of using janky, but it's how it felt!

From a design contract point of view, I can appreciate wanting to protect the implementation - but none of it really fits.  Protecting an implementation rather than its contract (non-existent in this case) seemed a bit sketchy.

I'm ready to pitch in - would you like

1. a PR that simply proposes the removal, or
2. a PR that ad

[2022-08-17 19:38] Ocramius commented on #172
Let's start from the first one 👍

[2022-08-17 21:06] #172 closed, assigned to nobody

[2022-09-22 21:55] Ocramius opened #177 "2.24.x branch contains 3.0.x commits"

[2022-10-11 07:41] gsteel commented on #177
@Ocramius Can I cut a new 2.24.x branch from 2.23.x - we'd only lose a couple of renovate commits?

[2022-10-11 08:18] Ocramius commented on #177
@gsteel I think resetting `2.24.x` to `2.23.x` would suffice: lemme check :)

[2022-10-11 08:21] Ocramius commented on #177
Here's the full log of `2.24.x` before I force-push it back:

[code]

From what I can see, we probably messed up a couple merges there, especially the merge-up operations.

I pushed up `2.24.x-bkp-2022-10-11` as a backup, if needed: we can drop it after a while.

[2022-10-11 08:22] Ocramius commented on #177
A `git push -f origin 2.23.x:2.24.x` fixed that for now

[2022-10-11 16:57] Ocramius commented on #177
https://github.com/laminas/laminas-view/compare/2.23.x...2.24.x only contains #178 now :+1:

[2022-10-11 16:57] #177 closed, assigned to Ocramius

[2022-11-07 07:54] froschdesign opened #184 "Add versioning for documentation"
* Create folders for versions
* Add content for version 3 (copy files)
* Add version numbers to MkDocs configuration file
* Add redirects for current documentation files

[2022-11-09 11:59] gsteel commented on #73
Thanks @func0der - I agree that ViewModel could/should be iterable. View Model should also implement `IteratorAggregate` and should receive a class-level doc block with `/** @extends IteratorAggregate<array-key, ModelInterface> */`

Additionally, `getIterator` should return `Traversable` both in the doc block and as a return type.

This should also go into 3.0.

The linked PR targets your fork rat

[2022-11-09 13:09] gsteel commented on #73
Scratch that - serves me right for not looking at existing code properly. Class level doc-blocks would also be an improvement here though:

[code]

and

[code]